<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Help4Pets</title>
    <link rel="stylesheet" href="styles/cadastropessoas.css" />
  </head>
  <body>
    <div id="main-container">
      <h1>Cadastro Ong</h1>
      <form id="register-form" action="/create-ong" method="post">
        <div class="half-box spacing">
          <label for="email">E-mail da Ong</label>
          <input
            type="email"
            name="email"
            id="email"
            placeholder="Digite seu e-mail"
            data-min-length="2"
            data-email-validate
          />
        </div>

        <div class="half-box spacing">
          <label for="name">Nome da Ong</label>
          <input
            type="text"
            name="name"
            id="name"
            placeholder="Digite seu nome"
            data-required
            data-min-length="3"
            data-max-length="16"
          />
        </div>

        <div class="half-box spacing">
          <label for="cnpj">Cnpj da Ong</label>
          <input
            type="number"
            name="cnpj"
            id="cnpj"
            placeholder="Digite o CNPJ da ong"
            data-required
            data-min-length="3"
            data-max-length="16"
          />
        </div>

        <div class="half-box spacing">
          <label for="description">Descricao da Ong</label>
          <input
            type="text"
            name="description"
            id="description"
            placeholder="Digite a descrição da ong"
            data-required
            data-min-length="3"
            data-max-length="150"
          />
        </div>

        <div class="half-box spacing">
          <label for="phone">Telefone</label>
          <input
            type="text"
            name="phone"
            id="phone"
            placeholder="Telefone (DDD)"
            data-required
            data-only-letters
          />
        </div>

        <div class="half-box spacing">
          <label for="street">Rua</label>
          <input
            type="text"
            name="street"
            id="street"
            placeholder="Rua"
            data-password-validate
            data-required
          />
        </div>

        <div class="half-box spacing">
          <label for="complement">Complemento</label>
          <input
            type="text"
            name="complement"
            id="complement"
            placeholder="Complemento"
            data-equal="text"
          />
        </div>

        <div class="half-box spacing">
          <label for="district">Bairro</label>
          <input
            type="text"
            name="district"
            id="district"
            placeholder="Bairro"
            data-equal="text"
          />
        </div>

        <div class="half-box spacing">
          <label for="number">Número</label>
          <input
            type="text"
            name="number"
            id="number"
            placeholder="Número"
            data-equal="text"
          />
        </div>

        <div class="half-box spacing">
          <label for="cep">CEP</label>
          <input
            type="text"
            name="cep"
            id="cep"
            placeholder="CEP"
            data-equal="text"
          />
        </div>

        <div class="half-box spacing">
          <label for="city">Cidade</label>
          <input
            type="text"
            name="city"
            id="city"
            placeholder="Cidade"
            data-equal="text"
          />
        </div>

        <div class="half-box spacing">
          <label for="state">UF</label>
          <input
            type="text"
            name="state"
            id="state"
            placeholder="UF"
            data-equal="text"
          />
        </div>

        <div>
          <input type="checkbox" name="agreement" id="agreement" />
          <label for="agreement" id="agreement-label"
            >Eu li e aceito os <a href="#">termos de uso</a></label
          >
        </div>

        <div class="full-box">
          <input id="submit" type="submit" value="Registrar" />
        </div>
      </form>
    </div>
    <p class="error-validation template"></p>
    <script src="cadastro.js"></script>
  </body>
</html>
