<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Help4Pets</title>
    <link rel="stylesheet" href="/styles/menu.css">
</head>
<body>
    <main>
        <div id="main-container">
            <img style="-webkit-user-select: none;margin: auto;background-color: transparent;transition: background-color 300ms;" src="/images/icon.png">
            <h1>Help4Pets</h1>
            <!--<div class="social-media">
                <a href="https://accounts.google.com/ServiceLogin/signinchooser?service=mail&passive=true&rm=false&continue=https%3A%2F%2Fmail.google.com%2Fmail%2F%26ogbl%2F&ss=1&scc=1&ltmpl=default&ltmplcache=2&emr=1&osid=1&flowName=GlifWebSignIn&flowEntry=ServiceLogin">
                    <img src="google.png" alt="Google">
                </a>
                <a href="https://pt-br.facebook.com/">
                    <img src="facebook.png" alt="Facebook">
                </a>
                <a href="https://www.linkedin.com/home">
                    <img src="linkedin.png" alt="Linkedin">
                </a>
            </div>
            <div class= "alternative">
                <spam>OU</spam>-->
                <a href="/clinica" class="button">Cadastro de clinicas</a>

                <a href="/animal" class="button">Cadastro de animais</a>

                <a href="/ong" class="button">Cadastro de Ongs</a>

                <a href="/lista-animais" class="button">Listagem de animais</a>
                
                <a href="/lista-ongs" class="button">Listagem de Ongs</a>

            </div> 
        </div>
    </main>
    </body>
</html>